*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

/*Container*/
.container{
    width: 60%;
    height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
}

/*Card*/
.card{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #f74c06, #f9bc2c);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
    color: #fff;
}

.card h1{
    font-weight: 400;
    font-size: 3rem;
}

.card p{
    margin: 15px;
    font-size: 1.1rem;
}

.card button{
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

/*Info*/
.info{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info h3{
    font-weight: 400;
    font-size: 1.8rem;
}

.info p{
    margin: 5px;
}

.info a{
    text-decoration: none;
    color: #000;
    margin: 10px;
}

.info button{
    width: 80%;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: #f9bc2c;
    font-size: 1rem;
    cursor: pointer;
}

/*Inputs*/
.inputs{
    width: 80%;
    height: 58px;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 5px;
}

.inputs input{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    background-color: #eee;
    padding: 0 10px;
}

/*Redes*/
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 10px;
}

.redes i{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 1.3rem;
}

/*Error*/
input.erro{
    border: 1px solid red;
}